<div id="contact" class="pb-4 bg-white">
	<div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
		<div class="container">
			<hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />

			<h2 class="text-center text-uppercase font-weight-bold my-0">
				Contact Us
			</h2>

			<h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
				Tell us about a new tournament
			</h5>
		</div>
	</div>

	<div class="container py-5 py-lg-6">
		<!-- Team cards -->
		<div class="card-deck-wrapper">
		<div class="card-deck">
			<!-- Team member 1 -->
			<div class="card product-card overlay-hover bg-shadow">
			<!-- Hover content -->
			<div class="overlay-hover-content overlay-op-9 overlay-gradient overlay-primary">
				<h3 class="mt-auto mb-0">
				Jim Jones
				</h3>
				<p class="mb-0 text-sm d-none d-lg-block">Art Director</p>
				<p class="mb-0 mt-2">
				<a href="#" class="text-white"><i class="fab fa-twitter icon-1x mr-1"></i></a>
				<a href="#" class="text-white"><i class="fab fa-linkedin-in icon-1x"></i></a>
				</p>
			</div>
			<!-- Image -->
			<img class="card-img-top img-fluid w-100 w-md-auto" src="assets/img/team/team-man-1.jpg" alt="Card image cap">
			</div>
			<!-- Team member 2 -->
			<div class="card product-card overlay-hover bg-shadow">
			<div class="overlay-hover-content overlay-op-9 overlay-gradient overlay-primary">
				<h3 class="mt-auto mb-0">
				Alice Huges
				</h3>
				<p class="mb-0 text-sm d-none d-lg-block">CTO</p>
				<p class="mb-0 mt-2">
				<a href="#" class="text-white"><i class="fab fa-twitter icon-1x mr-1"></i></a>
				<a href="#" class="text-white"><i class="fab fa-linkedin-in icon-1x"></i></a>
				</p>
			</div>
			<!-- Image -->
			<img class="card-img-top img-fluid w-100 w-md-auto" src="assets/img/team/team-girl-1.jpg" alt="Card image cap">
			</div>
			<!-- Team member 3 -->
			<div class="card product-card overlay-hover bg-shadow">
			<div class="overlay-hover-content overlay-op-9 overlay-gradient overlay-primary">
				<h3 class="mt-auto mb-0">
				Dave Rodgers
				</h3>
				<p class="mb-0 text-sm d-none d-lg-block">Developer</p>
				<p class="mb-0 mt-2">
				<a href="#" class="text-white"><i class="fab fa-twitter icon-1x mr-1"></i></a>
				<a href="#" class="text-white"><i class="fab fa-linkedin-in icon-1x"></i></a>
				</p>
			</div>
			<!-- Image -->
			<img class="card-img-top img-fluid w-100 w-md-auto" src="assets/img/team/team-man-2.jpg" alt="Card image cap">
			</div>
			<!-- Team member 4 -->
			<div class="card product-card overlay-hover bg-shadow">
			<div class="overlay-hover-content overlay-op-9 overlay-gradient overlay-primary">
				<h3 class="mt-auto mb-0">
				Amanda Davis
				</h3>
				<p class="mb-0 text-sm d-none d-lg-block">Project Manager</p>
				<p class="mb-0 mt-2">
				<a href="#" class="text-white"><i class="fab fa-twitter icon-1x mr-1"></i></a>
				<a href="#" class="text-white"><i class="fab fa-linkedin-in icon-1x"></i></a>
				</p>
			</div>
			<!-- Image -->
			<img class="card-img-top img-fluid w-100 w-md-auto" src="assets/img/team/team-girl-2.jpg" alt="Card image cap">
			</div>
		</div>
		</div>
	</div>
</div>
