<body class="page header-ontop page-index-corporate navbar-layout-default">

<!-- @plugin: page loading indicator, delete to remove loader -->
<div class="page-loader" data-toggle="page-loader"></div>

<a href="#content" class="sr-only">Skip to content</a>

<!-- ======== @Region: #header ======== -->
<div id="header">
	<div data-toggle="sticky">
		<!--Header & Branding region-->
		<div class="header header-dark bg-dark sticky-bg-op-9">
			<div class="header-inner container">
				<div class="header-brand">
					<a class="header-brand-text" href="/" title="Home">
					<h1 class="h2">
						<span class="header-brand-text-alt">Masters Basketball Tournaments</span>
					</h1>
					</a>
					<div class="header-divider d-none d-lg-block"></div>
					<div class="header-slogan d-none d-lg-block">Find a Tournament</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
<div id="content" class="p-0 clearfix">
-->
<div id="content">
	{% include 'tournament-form.html' %}
</div>

{% include 'footer.html' %}

<!--jQuery 3.3.1 via CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper 1.14.6 via CDN, needed for Bootstrap Tooltips & Popovers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Bootstrap v4.3.1 JS via CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!-- JS plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 To disable this and load plugin assets manually simple add data-plugins-manual=true to the body tag -->

<!--Custom scripts & AppStrap API integration -->
<script src="assets/js/custom-script.js"></script>
<!--AppStrap scripts mainly used to trigger libraries/plugins -->
<script src="assets/js/script.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
	$( function() {
		$( 'input[name="startEndDates"]' ).daterangepicker( {
			 autoUpdateInput: false
			,locale: {
				 format: 'DD-MMM-YYYY'
				,firstDay: 1
			}
		} );

		$( 'input[name="startEndDates"]' ).on( 'apply.daterangepicker', function( ev, picker ) {
			$( this ).val( picker.startDate.format( 'DD-MMM-YYYY' ) + ' - ' + picker.endDate.format( 'DD-MMM-YYYY' ) );
		} );

		$( 'input[name="startEndDates"]' ).on( 'cancel.daterangepicker', function( ev, picker ) {
			$( this ).val( '' );
		} );
	} );
</script>

</body>
