<footer id="footer" class="p-0 footer-light">
	<div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
		<div class="container">
			<hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />

			<h2 class="text-center text-uppercase font-weight-bold my-0">
				Contact Us
			</h2>

			<h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
				Tell us about a new tournament
			</h5>
		</div>
	</div>

	<div class="container pt-6 pb-5">
		<div class="row">
			<div class="col-md-4">
				<h4 class="text-uppercase text-grey-dark">
					About Us
				</h4>

				<p>We are a <em>dribble</em> of mature basketball players who trawl the world wide web looking for Masters basketball tournaments to play in.</p>
				<p>If you find one that we've missed let us know!</p>
			</div>

			<div class="col-md-4">
				<form name="contact" netlify>
				<h4 class="text-uppercase text-grey-dark">
					Contact Us
				</h4>

				<div class="form-group">
					<input id="name" name="name" type="text" class="form-control" placeholder="What's your name?" required>
				</div>

				<div class="form-group">
					<input id="emailAddress" name="emailAddress" type="email" class="form-control" placeholder="What's your email address?" required>
				</div>
			</div>

			<div class="col-md-4">
				<h4 class="text-uppercase text-grey-dark">&nbsp;</h4>

				<div class="form-group">
					<textarea id="comment" name="comment" class="form-control" rows="3" placeholder="What do you want to share with us?"></textarea>
				</div>

				<span class="input-group">
					<button class="btn btn-primary btn-block" type="submit">Go!</button>
				</span>
			</form>
			</div>
		</div>
	</div>

	<hr class="my-0 hr-blank op-2" />

	<!--@todo: replace with company copyright details-->
	<div class="bg-grey text-sm py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p class="mb-0">Copyright 2019 &copy; MastersBasketballTournaments.com</p>
				</div>

				<!-- <div class="col-md-6">
					<ul class="list-inline footer-links float-md-right mb-0">
					<li class="list-inline-item"><a href="#">Terms</a></li>
					<li class="list-inline-item"><a href="#">Privacy</a></li>
					<li class="list-inline-item"><a href="#">Contact Us</a></li>
					</ul>
				</div> -->
			</div>

			<a href="#tournaments" class="btn btn-icon btn-dark pos-fixed pos-b pos-r mr-3 mb-3 scroll-state-hidden" title="Back to tournaments" data-toggle="scroll-link" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
		</div>
	</div>
</footer>
